.content{
  font-size: 1em;
}

h3{
  font-size: 25px;
  color: red;
}

ol>li {
  padding: 10px;
  margin: 10px;
    background-color:  #e9e9e9;
    border: 2px solid black;
    border-radius: 10px;
}

#main {
    width: 100%;
    margin: 0 auto;
}
#side    {
    width: 30%;
    height: 150px;
    float: left;
}

#desc  {
  padding: 10px;
  font-size: 20px;
  background: #ffffff;
  height: 150px;
  margin-left: 30%;
}

.book-image{
  float:left;
  width:150px;
  height:150px;
  margin-right: 50px;
}
.quantity {
  float: right;
  margin-top: 20px;
  margin-right: 10px;
  background-color: #e4d2b8;
  padding: 10px;
  border-radius: 15px;
}
.total-amt{
  background-color: grey;
  padding: 10px;
  color: white;
  text-align: center;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  font-size: 23px;
}
#discount{
  display: none;
  color: #FF0000;
  text-align: center;
}
